.image-tile {
  // height: 100%;
}

.image-tile-wrapper {
  cursor: pointer;
  position: relative;
  &:hover .overlay-wrapper {
    display: block;
  }
}
.overlay-items,
.overlay-items-content {
  display: inline-block;
  vertical-align: middle;
}
.overlay-meta {
  width: 66%;
}
.overlay-items {
  margin-right: 1rem;
}
.overlay-items-content {
  margin-right: 0.4rem;
}

.overlay-wrapper {
  position: absolute;
  // top: 0;
  display: none;
  background-color: #00000075;
  // left: 0;
  cursor: pointer;
  color: white;
  height: 94%;
  width: 94%;
}
